.agent
.codex
.cursor



# .md files

*/AGENTS.md
*/AgentGate_Development_Skill.md
*/AgentGate-FINAL claude sayarets.md
*/agentgatechatdata.txt
*/AgentGateV1Astra.md-gpt rate 9to9-5.txt
*/AgentGateV2fable5-1-gpt rate 9to9-5.txt
*/AgentGateV3Astra.md-gpt rate 9to9-4-real.txt

# Folders
*/planning